* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    --bs-body-bg: #000;
    --bs-body-bg-dark: #000;
    --bs-body-color: #d0cfcf;
  }
 .links, .logo {
  margin-left: 20px;
}
  .nav {
    border-right: 1px solid #999;
    height: 100%;
    position: sticky;
    top: 10%;
    z-index: 999;
    width: 18%;
  }
  
  .nav a {
      display: block;
      justify-content: center;
      /* margin-left: 2rem; */
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      width: 200px;
  }
  .nav a:hover {
  text-decoration: underline #888;
  }
  .search, input placeholder {
    color: #fff!important;
  }


  /*?=================================*/
  /*?=================================*/
  /*?=================================*/
  /*?=========Light/Dark Mode=========*/
  /*?=================================*/
  /*?=================================*/
  /*?=================================*/
.toggle {
  position: relative;
  height: 40px;
  width: 90px;
  border-radius: 100px;
  background-color: #000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  z-index: 1;
}
.toggle::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 54px;
  transform: translateY(-50%);
  transition: all .3s ease-in-out;
}
.toggle.active::before {
  background-color: #000;
  left: calc(100% - 100px - -14px);
}
.toggle.active {
  background-color: #fff;
  transition: all .3s ease-in-out;
}
.bi-moon {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1;
}
.bi-brightness-high-fill {
  font-size: 1rem;
  color: #000;
  position: absolute;
  top: 20%;
  left: 60%;
  z-index: -1;
}
body.dark {
  color: var(--bs-body-bg-dark);
}
  
  .button {
    color: #fff;
    font-size: 1.5rem;
    padding: 5px 25%;
    border-radius: 40px;
    border: none;
    background-color: #1D9CF0;
    cursor: pointer;
  }
  .button:hover {
    background-color: #0d8bd9;
  }


  /*?=================================*/
  /*?=================================*/
  /*?=================================*/
  /*?=========Create Post=============*/
  /*?=================================*/
  /*?=================================*/
  /*?=================================*/
  ::selection{
    color: #fff;
    background: #1da1f2;
  }
  .wrapper{
    background: #000;
    max-width: 475px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #333;
    padding: 25px 25px 15px 25px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .input-box{
    padding-top: 10px;
    border-bottom: 1px solid #e6e6e6;
  }
  .input-box .tweet-area{
    position: relative;
    min-height: 130px;
    max-height: 170px;
    overflow-y: auto;
  }
  .tweet-area::-webkit-scrollbar{
    width: 0px;
  }
  .tweet-area .placeholder{
    position: absolute;
    margin-top: -3px;
    font-size: 22px;
    color: #c2bfbf!important;
    pointer-events: none;
  }
  .tweet-area .input{
    outline: none;
    font-size: 17px;
    min-height: inherit;
    word-wrap: break-word;
    word-break: break-all;
  }
  .tweet-area .editable{
    position: relative;
    z-index: 5;
  }
  .tweet-area .readonly{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: transparent;
    background: transparent;
  }
  .readonly .highlight{
    background: #fd9bb0;
  }
  .input-box .privacy{
    color: #1da1f2;
    margin: 15px 0;
    display: inline-flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  .privacy:hover, .icons li:hover{
    background: #e7f5fe;
  }
  .privacy i{
    font-size: 18px;
  }
  .privacy span{
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
  }
  .bottom{
    display: flex;
    margin-top: 13px;
    align-items: center;
    justify-content: space-between;
  }
  .bottom .icons{
    display: inline-flex;
  }
  .icons li{
    list-style: none;
    color: #1da1f2;
    font-size: 20px;
    margin: 0 2px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.2s ease;
  }
  .bottom .content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom .counter{
    color: #333;
    display: none;
    font-weight: 500;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #aab8c2;
  }
  .bottom button{
    padding: 9px 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    background: #1da1f2;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
    transition: background 0.2s ease;
  }
  .bottom button.active{
    opacity: 1;
    pointer-events: auto;
  }
  .bottom button:hover{
    background: #0d8bd9;
  }